@model IEnumerable<FuriousWeb.Models.Product>

<div class="product-list">
    <div class='button-list'>
        <div class="createButton">
            @Html.ActionLink("Sukurti naują prekę", "Create", "Products", null, new { @class = "add-button" })  
        </div>
    </div>
    <div class="mass-action">
        <span>Masinis veiksmas: </span>
        <select>
            <option default>Pasirinkti...</option>
            <option>Trinti</option>
        </select>
        <button class="mass-action">Vykdyti</button>
    </div>
    <div class="info">
        <div class="text">
            Iš viso prekių: <span>200</span>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Ieškoti..." class="search">
            <button class="search-button">Ieškoti</button>
        </div>
    </div>

    <div class="list">
        <div class="list-titles">
            <div class="check-box"> <input id="checkBox" type="checkbox"> </div>
            <div class="name"> Kodas </div>
            <div class="name"> Pavadinimas </div>
            <div class="category"> Kategorija </div>
            <div class="category"> Kaina </div>
            <div class="actions">
            </div>
        </div>

        @foreach(var product in Model)
        {
        <div class="list-item">
            <div class="check-box">
                <input id="checkBox" type="checkbox">
            </div>
            <div class="name">@product.Code</div>
            <div class="name">@product.Name</div>
            <div class="category">not yet implemented</div>
            <div class="category">@product.Price</div>
            @* Siuos stulpelius reikėtu visai paslėpti, nes dabar juos galima pamatyt per browser'io page source *@
            <div class="id" style="display:none;"> @product.Id </div>
            <div class="actions5">
                <a href="#" class="edit"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete", "Products", routeValues: new { id = product.Id })"><i class="delete fa fa-trash"></i></a>
                <input type="number" class="quantityInput productQuantity" min="1" value="1"/>
                <button type="button" class="btnAddToCart">Įdėti į krėpšelį</button>
            </div>

    </div>
        }

        <div class="paging">
            <div class="prev"><a href="#" class="prev">Ankstesnis</a></div>
            <div class="numbered"><a href="" class="numbered current">1</a></div>
            <div class="numbered"><a href="" class="numbered">2</a></div>
            <div class="numbered"><a href="" class="numbered">3</a></div>
            <div class="numbered"><a href="" class="numbered">4</a></div>
            <div class="next"><a href="#" class="next">Sekantis</a></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".btnAddToCart").click(function () {
        var productId = $(this).parent().siblings(".id").text().trim();
        var productQuantity = $(this).siblings(".productQuantity").val();
        $.ajax({
            type: "GET",
            url: '/ShoppingCart/AddItem',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            data: { productId: productId, quantity: productQuantity },
            error: function (xhr, status, errorThrown) {
                var errorMsg = "Status: " + status + " " + errorThrown;
                console.log(errorMsg);
                alert(errorMsg);
            },
            success: function (response) {
                if (response.success) {
                    $("#shoppingCartItemsCount").text(response.shoppingCartItemsCount);
                    alert("Prekė buvo sėkmingai įkelta į krėpšelį");
                }
            }
        })
    });

    $(".productQuantity").change(function () {
        if ($(this).val() <= 0)
            $(this).val(1);
    });
</script>
