<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>@ViewBag.Title - FuriousWeb</title>
    @Styles.Render("~/Content/Styles/bootstrap.min.css")
    @Styles.Render("~/Content/Styles/font-awesome.min.css")
    @Styles.Render("~/Content/Styles/adminstyle.css")
    @Scripts.Render("~/Scripts/jquery/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/Design/bootstrap.min.js")
</head>

<body>
    <div>
        @Html.Partial("_AdminHeaderBarPartial")
    </div>

    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Admin", null)">Dashboard</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @Html.Partial("_AdminLeftSideBarPartial")
                </div>
                <div class="col-md-9" id="partial-body">
                    @if (ViewContext.RouteData.Values["Action"].ToString() == "Index")
                    {
                         @RenderPage("~/Views/Admin/Shared/DashboardForAdmin.cshtml")
                    }
                    @RenderBody()
                </div>
            </div>
         </div>
    </section>

    <footer id="admin-footer" class="text-muted">
        <div class="container text-center">
            <p>Visos teisės saugomos @DateTime.Now.Year ©</p>
            <div style="font-size: 1em;">Solution: <a href="#" title="Furious">2FastToFurious</a></div>
        </div>
    </footer>

    <script src="~/libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/libs/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/libs/TurnWheel/jReject/js/jquery.reject.js" type="text/javascript"></script>
    <script src="~/libs/Swiper/dist/js/swiper.jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Design/modernizr.js" type="text/javascript"></script>
    <script src="~/Scripts/Design/buildmobile.js" type="text/javascript"></script>
    <script src="~/Scripts/System/general.js" type="text/javascript"></script>
    <script src="~/Scripts/System/common.js" language="javascript" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
