
@{
    ViewBag.Title = "Užsakymai";
}

<div class="panel panel-default" id="orders">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Užsakymai </h3>
    </div>
    <div class="panel-body">
        <div class="admin-list">
            <span> Iš viso aktyvių užsakymų: <span>99</span></span>

            <hr />
            <div class="row search-row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <strong>Paieška: </strong>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ieškoti..." id="search-query">
                        <span class="input-group-btn">
                            <button class="btn product-btn" id="search-button" type="button" onclick="search(true, 'orders');">Ieškoti</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="list">
                    <div class="row admin-list-row admin-list-headrow">
                        <div class="col-md-1  ">
                            <div>ID</div>
                        </div>
                        <div class="col-md-3  ">
                            <div>Pirkėjas</div>
                        </div>
                        <div class="col-md-2  ">
                            <div>Mokėjimo ID</div>
                        </div>
                        <div class="col-md-2  ">
                            <div>Statusas</div>
                        </div>
                        <div class="col-md-2  ">
                            <div>Sukurta</div>
                        </div>
                    </div>

                    @foreach (var order in Model)
                    {   
                    <div class="row admin-list-row">
                        <div class="col-md-1">
                            @order.ID
                        </div>
                        <div class="col-md-3">
                            @order.User.Email
                        </div>
                        <div class="col-md-2">
                            @order.PaymentID
                        </div>
                        <div class="col-md-2">
                            @order.Status
                        </div>
                        <div class="col-md-2">
                            @order.Created_at
                        </div>
                        <div class="col-md-2">
                            <div class="actions">
                                <a href="@Url.Action("EditOrder", "Admin", routeValues: new { id = order.ID })"><i class="edit fa fa-edit"></i></a>
                            </div>
                        </div>
                    </div>
                    }

                    <div class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="orders-pagination pagination">
                                <li class="active" data-value="1">1</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div><!--container end-->
        </div>
    </div>
</div>