@model IEnumerable<FuriousWeb.Models.User>

@{
    ViewBag.Title = "Vartotojai";
}

<div class="panel panel-default" id="users">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Vartotojai </h3>
    </div>
    <div class="panel-body">
        <div class="admin-list">
            <span> Iš viso vartotojų: <span>2</span></span>
            <div class="row creation-row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class='button-list'>
                        <div class="createButton pull-right">
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row search-row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <strong>Paieška: </strong>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ieškoti..." id="search-query">
                        <span class="input-group-btn">
                            <button class="btn product-btn" id="search-button" type="button" onclick="search(true, 'users');">Ieškoti</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="list">
                    <div class="row admin-list-row admin-list-headrow">
                        <div class="col-md-2  ">
                            <div>ID</div>
                        </div>
                        <div class="col-md-4  ">
                            <div>El. Paštas</div>
                        </div>
                        <div class="col-md-4  ">
                            <div>Vartotojo vardas</div>
                        </div>
                    </div>

                    @foreach (var user in Model)
                    {
                        <div class="row admin-list-row">
                            <div class="col-md-2">
                                @user.Id
                            </div>
                            <div class="col-md-4  ">
                                @user.Email
                            </div>
                            <div class="col-md-4  ">
                                @user.Name @user.Lastname
                            </div>
                            <div class="col-md-2">
                                <div class="actions">
                                    @if (user.LockoutEndDateUtc > ViewBag.Date && user.LockoutEnabled == true)
                                    {
                                        <span>Unblock user: </span><a href="#" onclick="location.href='@Url.Action("BanUser", "Account", routeValues: new { id = user.Id, ban = "false" })'" id="unblock-user"><i class="unblock fa fa-ban"></i></a>
                                    }
                                    else
                                    {
                                        <span><strong>Ban user: </strong></span><a href="#" onclick="location.href='@Url.Action("BanUser", "Account", routeValues: new { id = user.Id, ban = "true" })'" id="ban-user"><i class="ban fa fa-ban"></i></a>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    <div class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination users-pagination">
                                <li class="active" data-value="1">1</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div><!--container end-->
        </div>
    </div>
</div>

