@model FuriousWeb.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Profilis";
}


@if (Model.Orders.Count() > 0)
{
    <h3>Pirkimų istorija</h3>
    <div class="row">
        <div class="panel">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <ul class="list-group clearfix">
                    <li class="list-group-item clearfix">
                        <div class="col-md-1">ID</div>
                        <div class="col-md-3">Laikas</div>
                        <div class="col-md-4">Būsena</div>
                        <div class="col-md-4 text-md-right">Suma</div>
                    </li>
                    @foreach (var order in Model.Orders)
                {
                        <a href="@Url.Action("Order", "Account", new { id = order.ID})" class="list-group-item clearfix">
                            <div class="col-md-1">@order.ID</div>
                            <div class="col-md-3">@order.Created_at</div>
                            <div class="col-md-4">@Model.GetStatus(order.Status)</div>
                            <div class="col-md-4 text-right">@Model.GetStatus(order.Status)</div>
                        </a>
                    }
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <section>
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Pagrindinis</a></li>
                    <li class="active">Profilis</li>
                </ol>
            </div>
            <div class="empty-cart">
                <p>Pirkimų istorija yra tuščia</p>
            </div>
            <div class="come-back">
                <div>
                    <img src="~/Content/Images/logo.png">
                </div>
                <p>Grįžti į <a href="@Url.Action("Index", "Home")">pagrindinį puslapį</a></p>
            </div>
        </div>
    </section>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}