@model FuriousWeb.Models.ViewModels.EditProductViewModel

@{
    ViewBag.Title = "Prekės redagavimas";
}

<h3>Prekės redagavimas</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-md-6">
            <div class="error">@Html.ValidationMessage("Error")</div>
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(m => m.Code, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(m => m.Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Price, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-6">
                        <div class='form-actions'>
                            <input type="submit" value="Išsaugoti" class="btn btn-default" />
                            @Html.ActionLink("Atšaukti", "Index", "Admin", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="prod-img-container">  
                @if (Model.MainImage != null)
                {
                    <div class="prod-img-main">
                        <span class="close">&times;</span>
                        <img src="@Url.Content(Model.MainImage.RelativePath)"/>
                    </div>
                }
                @foreach (var secondaryImg in Model.SecondaryImages)
                {
                    <div class="prod-img-thumbnail">
                        <span class="close">&times;</span>
                        <img src="@Url.Content(secondaryImg.RelativePath)" />
                    </div>          
                }
            </div>
        </div>
    </div>
}
