@model IEnumerable<FuriousWeb.Models.Product>

<div class="panel panel-default" id="products">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Prekės </h3>
    </div>
    <div class="panel-body">
        <div class="admin-list">
            <span> Iš viso prekių: <span>@Model.Count()</span></span>
            <div class="row creation-row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class='button-list'>
                        <div class="createButton pull-right">
                            @Html.ActionLink("Sukurti naują prekę", "Create", "Products", null, new { @class = "btn product-btn" })
                        </div>
                    </div>
                </div>
            </div>
            <hr />
           @* <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <strong>Masinis veiksmas: </strong>
                </div>
                <div class="col-md-5">
                    <select class="form-control">
                        <option default>Pasirinkti...</option>
                        <option>Trinti</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button class="btn product-btn">Vykdyti</button>
                </div>
                <div class="col-md-3"></div>
            </div>*@
            <hr />
            <div class="row search-row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <strong>Paieška: </strong>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ieškoti..." id="search-query">
                        <span class="input-group-btn">
                            <button class="btn product-btn" id="search-button" type="button" onclick="search(true, 'products');">Ieškoti</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="list">
                    <div class="row admin-list-row admin-list-headrow">
                        <div class="col-md-offset-1 col-md-2  ">
                            <div>Kodas</div>
                        </div>
                        <div class="col-md-5  ">
                            <div>Pavadinimas</div>
                        </div>
                        <div class="col-md-2  ">
                            <div>Kaina</div>
                        </div>
                        <div class="col-md-2  ">
                            <div></div>
                        </div>
                    </div>

                    @foreach (var product in Model)
                    {
                    <div class="row admin-list-row">
                        <div class="col-md-1 image">
                            @{
                                var image = "";
                                if (product.Images.FirstOrDefault() == null)
                                {
                                    image = @Url.Content("~/Content/Images/Products/no-image.png");
                                }
                                else
                                {
                                    image = @Url.Content(product.Images.FirstOrDefault().RelativePath);
                                }
                            }

                            <img src="@image" alt="" />

                        </div>
                        <div class="col-md-2">
                            @product.Code
                        </div>
                        <div class="col-md-5">
                            @product.Name
                        </div>
                        <div class="col-md-2">
                            @product.Price
                        </div>
                        <div class="col-md-2 text-right">
                            <div class="actions">
                                <a href="@Url.Action("Edit", "Products", routeValues: new { id = product.Id })"><i class="edit fa fa-edit"></i></a>
                                <a href="@Url.Action("Delete", "Products", routeValues: new { id = product.Id })"><i class="delete fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    }

                    <div class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="products-pagination pagination admin"></ul>
                        </nav>
                    </div>
                </div>
            </div><!--Container end-->
        </div>
    </div>
</div>