@model FuriousWeb.Models.ViewModels.EditOrderViewModel

@{
    ViewBag.Title = "Užsakymo statuso keitimas";
}

<h3>Užsakymo statuso keitimas</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="error">@Html.ValidationMessage("Error")</div>
            <div class="form-horizontal">

                <dl class="dl-horizontal">

                    <dt> @Html.DisplayNameFor(model => model.User) </dt>
                    <dd> @Html.DisplayFor(model => model.User) </dd>

                    <dt> @Html.DisplayNameFor(model => model.PaymentID)</dt>
                    <dd> @Html.DisplayFor(model => model.PaymentID) </dd>

                    <dt> @Html.DisplayNameFor(model => model.Created_at) </dt>
                    <dd> @Html.DisplayFor(model => model.Created_at) </dd>
                </dl>


                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Status, new SelectList(new[] {0, 1, 2}), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    
                </div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <ul class="list-group  col-md-6" style="padding-left:15px">
                        <li class="list-group-item">Apdorojama = 0</li>
                        <li class="list-group-item">Įvykdyta = 1</li>
                        <li class="list-group-item">Atšaukta = 2</li>
                    </ul>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-6">
                        <div class='form-actions'>
                            <input type="submit" value="Išsaugoti" class="btn btn-default" />
                            @Html.ActionLink("Atšaukti", "Index", "Admin", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


    </div>
}
